/* Vos customisations des classes de Bootstrap */
.homepage {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.jumbotron {
	text-align: center;
	font-family: 'Arvo', courier, serif;
	background-image: url("../images/hero-image.jpg");
	color: white;
	}

.jumbotron h1 {
	margin-top: 25px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	padding: 0px 50px;
	font-weight: 100;	
}

#get-involved {
	background-color: #f5f5f5;
}

.homepage h2, .homepage h3 {
	color: #e74c3c;
	font-family: 'Arvo', courier, serif;
	text-transform: uppercase;
}

.homepage h2 {
	font-size: 30px;
}

.homepage h3 {
	font-size: 26px;
}

.homepage p {
	font-size: 21px;
	font-weight: 300;
}

.homepage a {
	color: #e74c3c;
}

.homepage a:hover {
	color: #e74c3c;
	text-decoration: none;
	opacity: .8;
}

btn-lg btn-danger {
	margin-bottom: 15px;
}

.homepage hr {
	border-top: 1px solid #e74c3d;
	width: 160px;
	margin-top: 15px;
}

footer {
	background-color: #f74c3c;
	padding-top: 150px;
	padding-bottom: 30px;
}


/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
